.inlineImage {
    height: 48px;
}

#contentEmbed {
    width: 100%;
    height: 100%;
}

#navbar {
    width: 100%;
    height: 50px;

    font-size: large;
    font-weight: bold;
}

#footer {
    height: 20px;
}

#logoNavbar {
    width: 50px;
}

.navbarButton {
    float: left;
    margin: 10px;
    cursor: pointer;
    font-size: xx-large;
}

.navbarButton:hover {
    color: #000000;
    text-shadow: -1px -1px 0 #de6900, 1px -1px 0 #de6900, -1px 1px 0 #de6900, 1px 1px 0 #de6900;
    transform: scale(1.15, 1.15);
}

table {
    width: 100%;
    height: 100%;
    border: 1px solid #de6900;
    border-radius: 5px;
}

embed {
    scrollbar-color: #de6900 #000000;
}